body {
  margin: 0;
  padding: 0; //Todo remove after add in a reset style sheet
}
header {
  background-color: #222;
  padding: 10px 20px;
  color: #fff;
  text-align: right;
}

h1 {
  text-align: center;
}
.lunches {
  padding: 20px 20px 0; // padding-bottom is created by margin on .lunch
  border: solid 1px #ccc;
}
.lunch {
  position: relative;
  height: 100%;
  margin-bottom: 40px;
  padding: 20px;
  box-sizing: border-box;
  background: #ededed;
  border: solid 1px #222;
  .info {
    display: inline-block;
    vertical-align: middle;
    .restaurant {

    }
  }
  .users {
    display: inline-block;
    vertical-align: middle;
    .user {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 30px; height: 30px;
      margin: -40px 50px 0;
      background: no-repeat center center; // image applied inline from facebook
      background-size: cover;
      border-radius: 100px;
      .name {
        position: absolute;
        bottom: -70px; left: -40px;
        height: 1.2em; width: 100px;
        text-align: center;
        white-space: nowrap; //TODO DT: toself, replace with textTruncate mixin
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:before { // stick figure body
        content: '';
        position: absolute;
        bottom: -50px; left: 50%;
        height: 50px; width: 1px;
        background: #000;
      }
      &:after { // stick figure hands
        content: '';
        position: absolute;
        bottom: -20px; left: 0;
        height: 1px; width: 30px;
        background: #000;
      }
    }
  }
  .btn-join {
    display: block;
    margin: 10px auto 0;
  }
}
